# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Dataset
robot-intelligence-dataset/
